{% load static %}
<header class="row p-3 border-bottom">
    <div class="d-flex flex-wrap align-items-center">
        <a href="/" class="justify-content-lg-start d-flex col-md-5 align-items-center mx-3 my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img style="width:40%" src="{% static 'img/logo-white.png' %}" alt="Логотип" />
        </a>
        <div class="col-md-5 justify-content-end d-flex align-self-center">
            <span id="title" class="fs-2 px-4 text-white font-serif"></span>
        </div>
    </div>
</header>